.adtitle h1, .adtitle p{
    color: #fff;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5); 
}

.adtitle{
    padding: 2em;
    background-size: cover;
    background-position: center center;
}

.container{
    margin-top: 20px;
}

.carousel-caption{
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5); 
}

.form-collection{
    margin-top: 20px;
}

.form-collection ul{
    list-style: none;
}

.form-collection ul li{
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.form-collection ul li:last-child{
    border-bottom: none;
}

.avatar{
    border-radius: 50%;
    max-height: 128px;
    max-width: 128px;
}

.avatar-medium{
    height:64px;
    width:64px;
}

.avatar-mini{
    height:24px;
    width: 24px;
}

.datepicker table tr td.disabled, .datepicker table tr td.disabled{
    color:red;
}

span.rating i{
    color: goldenrod;
}


.alert .btn{
    text-decoration: none;
    color: #fff;
}